[package]
name = "torrust-axum"
version = "3.0.0"
edition = "2021"
license = "AGPL-3.0"
authors = [
    "Jasper Lingers <info@power2all.com>",
    "Mick van Dijke <mick@dutchbits.nl>"
]
description = "A rich, fast and efficient Bittorrent Tracker."

[profile.release]
lto = true
codegen-units = 1 # Enable this to optimize filesize
panic = "abort" # Enable this to optimize filesize

[dependencies]
async-trait = "0.1.56"
axum = "0.5.13"
axum-client-ip = "0.2.0"
axum-server = { version = "0.4.0", features = ["tls-rustls"] }
binascii = "0.1.4"
bip_bencode = "0.4.4"
byteorder = "1.4.3"
chrono = "0.4.19"
either = "1.7.0"
fern = { version = "0.6.1", features = ["colored"] }
futures = "0.3.21"
hyper = { version = "0.14.20", features = ["full"] }
log = "0.4.17"
percent-encoding = "2.1.0"
rustls = "0.20.6"
scc = "0.8.3"
serde = { version = "1.0.140", features = ["derive"] }
serde_json = "1.0.82"
sqlx = { version = "0.6.0", features = ["mysql", "postgres", "sqlite", "runtime-tokio-rustls"] }
thiserror = "1.0.31"
tokio = { version = "1.20.0", features = ["full"] }
toml = "0.5.9"
tower = "0.4.13"
